{% extends 'base.html' %}
{% block title %} Edit blog post {% endblock title %}
{% block body %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
    <h1>Update blog post</h1>
    {% load humanize %}
    {% load extras %}
    <div class="form-group">

    <form method="POST">
        {% csrf_token %}
        {{ form.media }}

        {{ form.as_p }}
        <button class="btn btn-secondary">update</button>
    </form>
        </div>
{% else %}
 you are  not allowed here! (and you know it...)
{% endif %}

{% else %}
 you are  not allowed here! (and you know it...)

{% endif %}
{% endblock %}
